* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: $montserrat;
  font-size: 18px;
  font-weight: 400;
  color: $semi-black;
  background-color: $white;
  margin: 0;
  //display: flex;
  //height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

//.wrapper {
//  width: 100%;
//  min-height: 100vh;
//  overflow: hidden;
//  position: relative;
//  display: flex;
//  flex-direction: column;
//
//  .footer {
//    margin-top: auto;
//  }
//}

.container {
  box-sizing: content-box;
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 15px;

  &.narrow {
    max-width: 1428px;
  }
}

a {
  text-decoration: none;
  transition: color $delay;
}

.breadcrumbs {
  margin-top: 18px;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 13px;
  line-height: 169%;

  @media (max-width: $lg) {
    margin-bottom: 50px;
  }

  @media (max-width: $md) {
    margin-bottom: 40px;
  }

  @media (max-width: $sm) {
    margin-top: 12px;
    margin-bottom: 30px;
  }

  @media (max-width: $xs) {
    margin-top: 7px;
    margin-bottom: 20px;
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    color: $gray-3;
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      margin-left: 15px;
      margin-right: 15px;

      &:first-of-type {
        margin-left: 0;
      }

      &.current {
        color: $orange;
      }

      a {
        color: $gray-3;

        &:hover {
          color: $orange;
        }
      }
    }
  }
}

/* STYLES FOR WP CONTENT */
.page-content {
  clear: both;

  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.aligncenter {
  text-align: center;
}

.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

img.alignleft, .wp-caption.alignleft {
  float: left;
  margin-right: 15px;
}

img.alignright, .wp-caption.alignright {
  float: right;
  margin-left: 15px;
}

.wp-caption {
  max-width: 100%;

  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }
}

.wp-caption-text {
  font-family: $montserrat;
  font-size: 18px;
}

@media (max-width: $sm) {
  img.alignleft, .wp-caption.alignleft {
    float: none;
    margin-right: 0;
  }
  img.alignright, .wp-caption.alignright {
    float: none;
    margin-left: 0;
  }
}
/* END STYLES FOR WP CONTENT */