@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

$montserrat: 'Montserrat', sans-serif;

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

//COLORS
$white: #fff;
$black: #000;
$semi-black: #282525;
$orange: #FF5718;
$orange-2: #FEE1DF;
$gray: #838383;
$semi-gray: #EFECEC;
$gray-2: #F8F8F8;
$gray-3: #838383;
$gray-4: #FBFAFA;
$gray-5: #F8F8F8;
$gray-6: #3A3737;

//BASE
$delay: 0.15s;