@import '../../src/scss/components/vars';

section.hero_section_home_page {
  padding: 126px 0 290px;
  position: relative;

  @media (max-width: 1600px) {
    padding: 126px 0 200px;
  }

  @media (max-width: 1400px) {
    padding: 126px 0 50px;
  }

  @media (max-width: $lg) {
    padding: 100px 0 0 0;
  }

  @media (max-width: $md) {
    padding: 80px 0;
  }

  @media (max-width: $sm) {
    padding: 60px 0;
  }

  @media (max-width: $xs) {
    padding: 23px 0;
  }

  & > svg {
    position: absolute;
    z-index: -1;
    top: -100px;
    left: 0;

    @media (max-width: $md) {
      max-width: 600px;
      max-height: 600px;
      top: 0;
      left: -50px;
    }

    @media (max-width: $xs) {
      max-width: 340px;
      max-height: 340px;
      top: 0;
      left: -90px;
    }
  }

  & > img {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    @media (max-width: 1700px) {
      max-width: 60%;
    }

    @media (max-width: $md) {
      display: none;
    }
  }

  h1 {
    text-transform: uppercase;
    margin: 0;

    strong, b {
      font-weight: 900;
      color: $orange;
    }
  }

  .list {
    margin: 50px 0;
    padding-left: 147px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 156%;

    @media (max-width: 1700px) {
      padding-left: 30px;
    }

    @media (max-width: $md) {
      padding-left: 0;
      margin: 40px 0 0 0;
    }

    @media (max-width: $sm) {
      font-size: 16px;
      margin: 20px 0 0 0;
    }

    @media (max-width: $xs) {
      font-size: 15px;
      line-height: 147%;
      margin: 10px 0 0 0;
    }

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 11px;

      &:last-of-type {
        margin-bottom: 0;
      }

      .icon {
        margin-right: 12px;
        width: 44px;
        height: 44px;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        position: relative;
        min-width: 44px;
        min-height: 44px;

        @media (max-width: $xs) {
          margin-right: 9px;
          width: 34px;
          height: 34px;
          min-width: 34px;
          min-height: 34px;
        }

        &::before {
          content: '';
          position: absolute;
          top: 1px;
          left: 1px;
          width: 38px;
          height: 38px;
          border-radius: 4px;
          border: 2px solid $gray-2;
          min-width: 38px;
          min-height: 38px;

          @media (max-width: $xs) {
            width: 28px;
            height: 28px;
            min-width: 28px;
            min-height: 28px;
          }
        }

        svg, img {
          display: block;
          width: 100%;
          max-width: 18px;
        }
      }
    }
  }
}